body{
    background-color: white;
    border-color: brown;
}
h1{
    color: orange;
    text-align: center;

}
p{
    background-color: bisque;
    border-style: double;
    border-color: red;
    border-width: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

    
}





