body

    
    

#header{
    width: 1335px;
    height: 50px;
    top: 0%;

    
    text-align:left;
    
    
    
}
#footer{
    
    
    color: blue;
    
    
    
              border-color:black;
             
    
}
#panel1{
	width:550 px;
	height:888 px; 
	position:absolute; 
	top:173px; 
	right:775px;
}
#center{
    color: navy;
    
    margin-left: 0px;
	margin-top: 400px;
	margin-right: 0px;
	margin-bottom: 0px;
    
}
 #td {
    border-style:solid;
    border-color:black;
  }

   
    
 
    
    
